pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/cache/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.idea
trud.iml
api-key.txt
.eastwood
.clj-kondo
.calva
